<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n" />
		</Console>

		<RollingFile name="RollingFile">
			<FileName>C:/log/mylog.txt</FileName>
			<FilePattern>C:/log/%d{yyyy-MM-dd-hh-mm}/mylog.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="RollingFileError">
			<FileName>C:/log/mylog_error.txt</FileName>
			<FilePattern>C:/log/%d{yyyy-MM-dd-hh-mm}/mylog_error.zip
			</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>

	<loggers>
		<Root level="OFF">
			<AppenderRef ref="RollingFile"/>
		</Root>
		<Logger name="org.dfpl.chronograph.chronoweb" level="debug"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>

	</loggers>

</configuration> 